@font-face {
  font-family:'NotoSans-Regular';
  font-style:normal;
  src:url(../fonts/NotoSans-Regular.eot),
  url(../fonts/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
  url(../fonts/NotoSans-Regular.woff) format('woff');
}
@font-face {
  font-family:'NotoSans-Bold';
  font-style:bold;
  src:url(../fonts/NotoSans-Bold.eot),
  url(../fonts/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
  url(../fonts/NotoSans-Bold.woff) format('woff');
}



@font-face {
  font-family:'Roboto-Regular';
  font-style:normal;
  src:url(../fonts/Roboto-Regular.eot),
  url(../fonts/Roboto-Regular.eot?#iefix) format('embedded-opentype'),
  url(../fonts/Roboto-Regular.woff) format('woff');
}

@font-face {
  font-family:'Roboto-Medium';
  font-style:normal;
  src:url(../fonts/Roboto-Medium.eot),
  url(../fonts/Roboto-Medium.eot?#iefix) format('embedded-opentype'),
  url(../fonts/Roboto-Medium.woff) format('woff');
}

@font-face {
  font-family:'Roboto-Bold';
  font-style:bold;
  src:url(../fonts/Roboto-Bold.eot),
  url(../fonts/Roboto-Bold.eot?#iefix) format('embedded-opentype'),
  url(../fonts/Roboto-Bold.woff) format('woff');
}